.Section3 {
    margin-top: 150px;
    justify-items: center;
}

.heading {
    display: flex;
    flex-direction:column;
    gap: 0px;
}

.heading1 {
    font-size: clamp(26px, 6vw, 42px);
    font-weight: 550;

}

.heading2 {
    font-size: clamp(26px, 6vw, 42px);
    font-weight: 550;
    background: linear-gradient(
  90deg,
  #9b26f0 0%,   /* purple */
  #00c6ff 100%  /* sky blue */
);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

.team {
    display: flex;
    flex-direction: row;
    width: 900px;
    margin-top: 80px;
    margin-bottom: 80px;
    justify-content: space-between;
    align-items: center;



}