/* auSection2.module.css */

.wrapper {
  display: flex;
  justify-content: center;
  background-color: white; /* or any subtle background */
}

.box {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: clamp(2rem, 7vw, 14rem) clamp(2rem, 7vw, 14rem);
  align-items: center;

  background-image: url('/auSection2.png');    
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 6vw;
  width: 85vw;
  margin-top: clamp(6vw, 8vw, 12vw);

}

.text {
  font-size: clamp(9px, 2.5vw, 22px);
  line-height: 1.8;
  color: #ffffff;
  text-align: center;
}

.imageTwo {
  width: 100%;
  margin-left: auto;
}

@media (min-width: 768px) {
  .wrapper {
    display: flex;
    justify-content: center;
    background-color: white; /* or any subtle background */
  }
  
  .box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: clamp(2rem, 7vw, 12rem);
    justify-content: space-between;
    background-image: url('/auSection2.png');    
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3vw;
    width: 70vw;
    height: 48vw;
    margin-top: clamp(6vw, 8vw, 12vw);

  }
  
  .text {
    font-size: clamp(1rem, 1.6vw, 3.5rem);
    line-height: 1.8;
    color: #ffffff;
  }

  .imageTwo {
    width: 48vw;
    margin-left: 23vw;
  }
}
  