/* auSection2.module.css */

.wrapper {
  display: flex;
  justify-content: center;
  background-color: white; /* or any subtle background */
  margin-top: clamp(6vw, 14vw, 19vw);

}

.box {
  display: flex;
  flex-direction: column;
  padding: clamp(3rem, 7vw, 14rem) clamp(2rem, 7vw, 14rem);
  align-items: center;
  gap: 12vw;

  background-image: url('/auSection2.png');    
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 6vw;
  width: 85vw;

}

.text {
  font-size: clamp(14px, 2.4vw, 24px);
  line-height: 1.6;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
}




.imageTwo {
  width: 100%;
  margin-left: 1.4vw;

}

@media (min-width: 768px) {
  .wrapper {
    display: flex;
    justify-content: center;
    background-color: white; /* or any subtle background */
    margin-top: clamp(6vw, 8vw, 12vw);

  }
  
  .box {
    display: flex;
    flex-direction: column;
    background-image: url('/auSection2.png');    
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 3vw;
    width: 70vw;
    height: 100%;
    align-items: center;
    gap: 6vw;


  }
  
  .text {
    font-size: clamp(0.8rem, 1.6vw, 3.5rem);
    line-height: 1.8;
    color: #ffffff;
    text-align: center;
  }

  .imageTwo {
    width: auto;
    margin-left: 1.3vw;

  }
}
  