.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.box {
    display: flex;
    flex-direction: column;
    padding: clamp(3rem, 7vw, 14rem) clamp(2rem, 7vw, 14rem);
    background-color: #F5F5F5;
    justify-content: center;
    gap: 140px;
    align-items: center;
    border-radius: 6vw;
    width: 85vw;
}

.imageOne {
    width: 70vw;
}

.text {
    font-size: clamp(18px, 5vw, 29px);
    text-align: center;
    font-weight: 500;
}



@media (min-width: 768px) {
    .wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 150px;
    }

    .box {
        display: flex;
        flex-direction: row;
        padding: clamp(2rem, 5vw, 14rem) clamp(2rem, 7vw, 14rem);
        background-color: #F5F5F5;
        align-items: center;
        border-radius: 3vw;
        width: 70vw;
        gap: 10%;
    }

    .imageOne {
        width: clamp(75vw, 90vw, 90vw);
    }

    .text {
        font-size: clamp(0.8rem, 1.6vw, 3.5rem);
        text-align: left;
        width: 100%;


    }
}