.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 150px;


}

.box {
    display: flex;
    flex-direction: row;
    padding: clamp(2rem, 5vw, 14rem) clamp(2rem, 7vw, 14rem);
    justify-content: space-between;
    background-color: #F5F5F5;
    align-items: center;
    border-radius: 3vw;
    width: 70vw;


}

.imageOne {
    width: 30vw;
}

.text {
    font-size: clamp(1rem, 1.6vw, 4.5rem);
    

}