.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    position: fixed;
    top: 25vh;
    width: 100%;
}

.image {
    width: 90vw;
    position: fixed;
    top: calc(-1 * (100vw - 320px) * 0.35);}

.logoContainer {
    display:flex;
    flex-direction:row;
    gap:10px;
}

.logo {
    width: 35px;
    height: 35px;
    border-width: 1px;
    border-radius: 8px;
    margin-top: 20px;

}
