.menuCard {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    width: 75vw;
    border-width: 2px;
    height: 65px;
    border-radius: 20px;
    border-color: #525252;
    align-items: center;
    padding: 25px;
}

.cardIcon,
.cardArrow{
    height: 16px;

}

.cardTitle{
    font-size: 20px;
    margin-left: 20px;
    color: #525252;
    

}

.cardArrow {
    margin-left: auto;

}







  