
.sectionOne {

        margin-top: 150PX;

}

.sectionTwo {
    margin-top: clamp(80px, 8vw, 12vw);

}

.sectionThree {
    margin-top: clamp(80px, 8vw, 12vw);
    margin-bottom: clamp(80px, 8vw, 12vw);


}

