.wrapper {
    justify-content: center;
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    width: 70vw;
    padding: clamp(6rem, 4vw, 14rem) clamp(6rem, 7vw, 14rem);
    border-radius: 3vw;
    gap: 5vw;
    align-items: center;

}

.textBox {
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 1.8vw;

}


.image {
    width: 100vw;
    margin-left: 1.3vw;
    margin-top: 2vw;
}

.title {
        font-size: clamp(28px, 3.3vw, 43rem);
        font-weight: 550;
        line-height: 1.3;        /* Add this */
        padding: 0;            /* Ensure no padding */
        margin: 0;             /* Remove top/bottom margin */
        display: inline-block;
        background: linear-gradient(
         95deg,
         #0464c4 0%,   /* purple */
         #00c6ff 100%  /* sky blue */
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

          
}

.paragraph  {
    font-size: clamp(0.8rem, 1.4vw, 3.5rem);
    color: #5f5f5f;
    font-weight: 500;
    width: 85%;

    
}

.button {
        background-color:#0071E3;
        border-radius: 4.9rem;
        width: 40%;
        font-weight: 600;
        padding: clamp(0.6rem, 0.8vw, 1.8rem);
        font-size: clamp(0.4rem, 1vw, 2vw);
        display: none;



}




