
.sectionOne {
        margin-top: clamp(80px, 12vw, 12vw);

}

.sectionTwo {
    margin-top: clamp(80px, 8vw, 12vw);

}

.sectionThree {
    margin-top: clamp(80px, 8vw, 12vw);
    margin-bottom: clamp(80px, 8vw, 12vw);


}

